<% @page_title = " create category "%>
<div><%= link_to('<< Back to list of categories', action: 'index') %></div>
<h1>Create new category</h1>
<%= form_for(:category , :url => {action: 'create'}) do |f| %>
	<%= render(:partial => 'categories/form', :locals => {:f => f}) %>
	<%= submit_tag("Create Category") %>
<% end %>